@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.tooltip {
    font-weight: bold;
    font-family: "Microsoft YaHei";
}
